body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 244, 191);
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 5%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    color: #75B79E;
    background-color: rgb(237, 244, 191);
}
/*Main:*/
.main-wrapper{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 80%;
    top: 20%;
}
.card-wrapper{
    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-wrap: wrap; 
    align-items: center;
    width: 80%;
    top: 20%;
    background-color: brown;
}
.card{
    width: 117px;
    height: 146px;
    margin-top: 5px;

    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
    background-color:#A7E9AF;
    
}
.card img{   
    width: 100px;
    height: 100px;
    margin: 20px 10px;
}
.verse{
    display: flex;
    position: absolute;
    z-index: 3;
    top: 10%;  
}

@media(max-width: 700px){
    .header{
        position: fixed;
    }
    .main-wrapper{
        padding-top: 126px;
    }
    .main-wrapper, .card-wrapper{
        flex-direction: column;
    }
}
